$dark: #092327;
$light: #ede7d9;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@import "reset.css";

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $light;
}

a {
  text-decoration: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: $dark;
  padding: 30px;
  .content {
    @include flex(space-between, center);
    nav {
      @include flex(space-between, center);
      li {
        list-style-type: none;
        color: $light;
        font-size: 1.6rem;
        padding: 0 6rem 0 0;
        a {
          color: $light;
        }
      }
      .logo {
        font-size: 3rem;
        color: $light;
        font-weight: bold;
      }
    }
    .buttons {
      button {
        @include flex(space-around, center);

        background-color: $dark;
        border: none;
        border-radius: 3rem;
        padding: 1rem 2rem;
        margin: 0 0 0 1rem;
        font-size: 1.7rem;
        color: $light;
        cursor: pointer;
        transition: 0.3s all;
        outline: none;
        img {
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}

.dashboard {
  .content {
    padding: 3rem 0;
    .resumes {
      @include flex(flex-start, stretch);
      flex-wrap: wrap;
      a {
        margin: 0 4rem 4rem 0;
        &:nth-child(5n) {
          margin: 0 0 2rem 0;
        }
        .card {
          font-size: 2rem;
          border-radius: 1rem;
          padding: 1rem;
          background-color: $dark;
          color: $light;
          width: 20rem;
          height: 30rem;

          .header {
            @include flex(space-between, flex-start);
            h4 {
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 2rem;
            }
            span {
              font-size: 1.4rem;
              cursor: pointer;
              z-index: 10;
            }
          }
        }
      }
    }
  }

  .resume-form {
    @include flex(center, center);
    padding: 0 0 3rem 0;
    input {
      font-size: 2rem;
      padding: 1rem 2rem;
      outline: none;
      border: 1px solid $dark;
      border-right: none;
      background-color: white;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    button {
      font-size: 2rem;
      padding: 1rem 2rem;
      outline: none;
      border: 1px solid $dark;
      background-color: $dark;
      color: $light;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

.editor {
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.2);
  .header {
    width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    .title {
      font-size: 3rem;
      background-color: inherit;
      border: 1px solid rgba($dark, 0);
      outline: none;
      padding: 0.5rem;
      &:focus {
        background-color: white;
        border: 1px solid rgba($dark, 0.6);
      }
    }
  }
  .edit-resume {
    background-color: $light;
    @include flex(space-between, flex-start);
    padding: 2rem 0 0 0;
    .left-sidebar {
      width: 30%;
    }
    .right-sidebar {
      width: 20%;
    }
    .paper {
      width: 794px;
      height: 1123px;
      background-color: white;
      margin: 0 2rem;
      box-shadow: #ccc 0 0 0.5rem;
    }
  }
}
